:root {
  --cream: hsla(66, 61%, 84%);
  --tea-green: hsla(88, 50%, 78%);
  --pistachio: hsla(94, 38%, 59%);
  --carrot-orange: hsla(35, 87%, 49%);
  --drab-dark-brown: hsla(60, 28%, 17%);
  /* Made at coolors.co */

  font-family: 'Inter', sans-serif;
  @supports (font-variation-settings: normal) {
    :root {
      font-family: 'Inter var', sans-serif;
    }
  }
}

::selection {
  color: black;
  background: hsl(7, 100%, 66%);
}

* {
  margin: 0;
  font-family: 'Inter Var', Inter, 'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif;
}

body {
  display: grid;
  grid-template-areas: 'sidebar content';

  grid-template-columns: 200px 1fr;
  align-items: start;

  height: 100%;
  margin: 0 5vw;
  margin-top: 20vh;

  column-gap: 25px;

  overflow-wrap: anywhere;

  background-color: var(--cream);
}

input {
  width: 160px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  color: var(--drab-dark-brown);
  background-color: var(--tea-green);

  border: var(--carrot-orange) solid 2px;
  border-radius: 10px;

  box-shadow: 1px 1px 5px 0px hsla(0, 0%, 0%, 0.3);
}

button:hover {
  background-color: hsl(88, 50%, 72%);
}

button:active {
  background-color: var(--pistachio);
}

/*=== Sidebar start ===*/

ul {
  list-style: none;
  padding-left: 0;
  margin-right: 10px;
  height: 101%;

  display: flex;
  flex-direction: column;

  row-gap: 10px;
}

li {
  cursor: pointer;
  line-height: 1.2;
}

li:hover {
  color: hsl(0, 0%, 31%);
}

li:active {
  color: hsl(211, 11%, 46%);
}

.sidebar {
  display: grid;
  grid-template-areas:
    'project-list-title'
    'project-list'
    'new-project-form';
  border-right: var(--carrot-orange) solid 5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 55vh;
  align-content: start;

  line-height: 2;
}

.project-list-title {
  grid-area: project-list-title;

  vertical-align: top;

  font-style: italic;
  font-size: 1.4rem;
  font-weight: 550;
  line-height: 2;
}

.project-list {
  grid-area: project-list;

  overflow: auto;
  scrollbar-gutter: stable;

  text-decoration: underline;
}

.new-project-form {
  grid-area: new-project-form;
  margin-bottom: 20px;
}

.reset-projects {
  align-self: flex-end;

  width: fit-content;

  font-weight: 500;
  line-height: 1.7;
  padding: 0px 10px;
}

.list-arrow {
  position: relative;
  top: 2px;

  margin-left: 5px;

  font-size: 1.125rem;
  font-weight: 650;
}

/*=== Sidebar end ===*/

/*=== Main content start ===*/

.main-content button {
  font-size: 0.8rem;
}

.main-content {
  display: grid;
  grid-template-areas: 'project-card task-container';
  grid-template-columns: 170px 1fr;
  grid-template-rows: 30px;

  margin-left: 20px;
  column-gap: 60px;
}

/*=== Project card start ===*/

.project-card {
  grid-area: project-card;

  display: flex;
  flex-direction: column;

  row-gap: 20px;

  line-height: 2;
}

.project-name {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.3;
}

.project-controls,
.task-controls {
  display: grid;
  justify-items: start;
  grid-template-columns: 50px 1fr;
  row-gap: 10px;
}

/*=== Project card end ===*/

/*=== Task card start ===*/

.task-container {
  grid-area: task-container;
  display: grid;
  grid-template-columns: min(100%, 500px);

  row-gap: 10px;
}

.task-container .card {
  display: grid;
  align-items: center;
  font-size: 0.9rem;
  background: var(--tea-green);
  box-shadow: 0px 0px 5px 0px hsla(0, 0%, 0%, 0.75);
  border: var(--carrot-orange) solid 2px;
  border-radius: 10px;
}

*[hidden] {
  /* Reset to make sure hidden attribute hides the element. Used for dynamic
  buttons, e.g. datepicker */
  display: none;
}

summary > * {
  /* Reset disclosure triangle */
  display: inline;
}

summary {
  padding: var(--card-padding);
  cursor: pointer;
}

.task.card {
  --card-padding: 10px 15px;
}

/*=== Task content start ===*/

.task-content {
  padding: var(--card-padding);
  display: grid;

  row-gap: 10px;
}

.task-name {
  font-weight: 450;
  font-size: 1.1rem;
}

.description-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.edit-description {
  width: 135px;
}

.priority {
  width: max-content;
}

.date {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*=== Task content end ===*/
/*=== Task card end ===*/
