:root {
  --cream: hsla(66, 61%, 84%, 1);
  --tea-green: hsla(88, 50%, 78%, 1);
  --pistachio: hsla(94, 38%, 59%, 1);
  --carrot-orange: hsla(35, 87%, 49%, 1);
  --carrot-orange-dark: rgb(180, 111, 14);
  --drab-dark-brown: hsla(60, 28%, 17%, 1);
}

::selection {
  color: black;
  background: #ff6550;
}

* {
  margin: 0;
}

body {
  display: grid;
  grid-template-areas: 'sidebar content';

  grid-template-columns: 200px 1fr;
  align-items: start;

  height: 100%;
  margin: 0 5vw;
  margin-top: 20vh;

  column-gap: 25px;

  overflow-wrap: anywhere;

  background-color: var(--cream);

  font-family: Barlow, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  cursor: pointer;
}

li:hover {
  color: rgb(78, 78, 78);
}

li:active {
  color: rgb(104, 116, 129);
}

.new-project-form {
  grid-area: new-project-form;
  margin-bottom: 20px;
}

.project-list-title {
  grid-area: project-list-title;
}

.project-list {
  grid-area: project-list;
  text-decoration: underline;
}

.sidebar {
  display: grid;
  grid-template-areas:
    'project-list-title'
    'new-project-form'
    'project-list';
  border-right: var(--carrot-orange) solid 5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 55vh;
  align-content: start;
}

.reset-projects {
  margin-top: 20%;
  width: fit-content;

  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  padding: 0px 10px;
}

button {
  display: flex;
  align-items: center;
  cursor: pointer;

  font-family: Tahoma, Geneva, Verdana, sans-serif;

  color: var(--drab-dark-brown);
  background-color: var(--pistachio);

  border: var(--carrot-orange-dark) solid 2px;
  border-radius: 5px;
}

.main-content button {
  font-size: 0.8rem;
}

*[hidden] {
  /* Reset to make sure hidden attribute hides the element. Used for dynamic
  buttons, e.g. datepicker */
  display: none;
}

.main-content {
  display: grid;
  grid-template-areas: 'project-card task-container';
  grid-template-columns: 200px 1fr;

  margin-left: 20px;
  column-gap: 60px;
}

.project-card {
  grid-area: project-card;
}

.project-controls,
.task-controls {
  display: grid;
  justify-items: start;
  grid-template-columns: 50px 1fr;
}

.task-container {
  grid-area: task-container;
  display: grid;
  grid-template-columns: min(100%, 500px);

  row-gap: 10px;
}

.task-container .card {
  display: grid;
  align-items: center;
  font-size: 0.9rem;
  background: var(--tea-green);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border: var(--carrot-orange) solid 2px;
  border-radius: 10px;
}

.priority {
  width: max-content;
}

.date {
  display: flex;
  align-items: center;
  gap: 10px;
}

summary > * {
  /* Reset disclosure triangle */
  display: inline;
}

.task.card {
  --card-padding: 10px 15px;
  font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

summary {
  padding: var(--card-padding);
  cursor: pointer;
}

.task-content {
  padding: var(--card-padding);
  display: grid;
  row-gap: 10px;
}
